* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*width: 1660px;*/
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(fonts/OpenSans-Regular.ttf) format("truetype"),
    url(fonts/OpenSans-Regular.woff) format("woff"),
    url(fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(fonts/OpenSans-Bold.ttf) format("truetype"),
    url(fonts/OpenSans-Bold.woff) format("woff"),
    url(fonts/OpenSans-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

/**шапка сайта ps
===========================*/
.logo_mobile {
  display: none;
}

.header {
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;

  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #013220;

  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.container__menu {
  width: 1200px;
  position: relative;
  z-index: 1;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  margin: auto;
}

.menu-list {
  display: flex;
  list-style-type: none;
  margin-top: 29px;
  margin-left: 523px;
}

.logo {
  width: 180px;
  margin-top: 29px;
}

.menu-list-item__m {
  /* отступ меню на 35 начиная от 2го */
  margin-left: 35px;
}

.menu-link {
  color: #ffffff;
  text-decoration: none;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
}

.menu-link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.header-title {
  max-width: 720px;
  color: #ffffff;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 45px;
  line-height: 75px;

  position: relative;
  z-index: 1;

  padding-bottom: 146px;
  margin: 126px auto 0;
}

/**после шапки доп поле с трендами
===========================*/
/*заголовок*/
.section__header {
  display: flex;
  justify-content: center;

  margin: 60px 0 40px;
}

.section__header__text {
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.section__header__text:after {
  content: "";
  display: block;

  width: 66px;
  height: 3px;
  margin: 10px auto 0;
  background-color: #b59f5b;
  opacity: 0.4;
}
/*контент*/
.now-in-trends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 64px;
}

.now-in-trends__item {
  width: 24.8%;
  height: 320px;
  position: relative;
  overflow: hidden;
}

.now-in-trends__item__photo {
  background: gray;
  object-fit: cover;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
}

.now-in-trends__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
}

.now-in-trends__content {
  border: 3px solid #b59f5b;
  box-sizing: border-box;
  margin: auto 20px 20px;
  padding: 35px;
}

.now-in-trends__tags {
  display: flex;
  flex-direction: row;

  list-style-type: none;
  margin-bottom: 7px;
  /*margin: 35px auto 7px 30px;*/
}

.now-in-trends__link {
  text-decoration: none;
  margin-right: 18px;

  color: #b59f5b;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.now-in-trends__link:hover {
  color: #b59f5b;
  border-bottom: 2px solid #b59f5b;
}

.now-in-trends__title__text {
  text-decoration: none;

  color: white;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
}

.now-in-trends__title {
  text-decoration: none;
}

.now-in-trends__title__text:hover {
  color: #b59f5b;
}

/**основная страница */
/**левая колонка основной страницы
===========================*/
.page {
  margin: 0 auto 64px;
}

.wrapper_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: flex-start;
  justify-content: center;
}

.post {
  max-width: 778px;
  min-height: 298px;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.post-preview {
  width: 445px;
  box-sizing: border-box;
}

.post-img {
  object-fit: cover;
}

.posts-content {
  width: 367px;
  box-sizing: border-box;
}

.post:nth-child(n + 2) {
  margin-top: 64px;
}

.posts-content-tags {
  display: flex;
  flex-direction: row;

  list-style-type: none;
}

.posts-content-link {
  text-decoration: none;
  margin-right: 21px;

  color: #b59f5b;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.posts-content-link:hover {
  color: #b59f5b;
  border-bottom: 2px solid #b59f5b;
}

.posts-content-inform {
  display: flex;
  flex-direction: row;

  margin-top: 36px;
  margin-bottom: 51px;
}

.posts-content-date {
  color: #888888;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;

  margin-right: 15px;
}

.posts-content-autor {
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
}

.posts-content-title {
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;

  margin-top: 10px;
  margin-bottom: 36px;
}

.link-post-title {
  text-decoration: none;
}

.posts-content-text {
  width: 367px;
  color: black;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
}

.posts-content-text__indent {
  margin-top: 20px;
}

/**правая колонка основной страницы 
===========================*/
.side-bar {
  display: flex;
  flex-direction: column;
  margin-left: 125px;
  max-width: 272px;
}

.side-bar_second-news {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  vertical-align: top;
}

.news-header {
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 44px;
  text-align: center;

  position: relative;
}

.news-line:after {
  content: "";
  position: absolute;
  left: 105px;
  width: 66px;
  height: 3px;
  margin-top: 24px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.news-container {
  width: 272px;
  height: 70px;

  display: flex;
  flex-direction: row;
}

.news-container:nth-child(n + 3) {
  margin-top: 22px;
}

.news-preview {
  width: 71px;
  box-sizing: border-box;
  background-color: #fade96;
}

.news-img {
  object-fit: cover;
}

.news-content {
  width: 201px;
  padding-left: 20px;
  box-sizing: border-box;
}

.news-content-date {
  color: black;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  opacity: 0.54;
}

.news-content-title {
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.news-content-title-hover:hover {
  color: #b59f5b;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.search {
  display: flex;
  flex-direction: row;

  margin-top: 60px;
}

.search:hover {
  border-bottom: 1px solid #b59f5b;
}

.search-field {
  color: black;
  opacity: 0.54;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  text-transform: capitalize;

  border: none;
  background-color: #f4f7f6;

  box-sizing: border-box;
  width: 222px;
  height: 50px;
  padding-left: 19px;
}

.button-search {
  box-sizing: border-box;
  border: none;
  width: 50px;
  height: 50px;

  background-color: #b59f5b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar_e-mail {
  margin-top: 60px;
}

.e-mail__header {
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  position: relative;

  width: 272px;
  margin-bottom: 54px;
}

.e-mail__header__line:after {
  content: "";
  position: absolute;
  left: 105px;
  width: 66px;
  height: 3px;
  margin-top: 24px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.email-field {
  width: 272px;
  height: 50px;
  margin-bottom: 17px;

  background-color: #f4f7f6;
  border: none;

  font-size: 13px;
  color: black;
  font-family: "OpenSans-Regular", sans-serif;
  opacity: 0.54;
  padding-left: 19px;

  position: relative;
}

.email-field:hover {
  border-bottom: 2px solid #b59f5b;
}

.button-submit {
  width: 272px;
  height: 50px;
  margin-bottom: 60px;

  background-color: #b59f5b;
  border: none;

  color: #ffffff;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.button-submit:hover {
  border-top: 2px solid #e6dfc8;
}

.button-search-text {
  display: none;
}

.side-bar_tags {
  margin-bottom: 60px;
}

.tags__header {
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 45px;
  text-align: center;

  position: relative;
}

.tags__header__line:after {
  content: "";
  position: absolute;
  left: 105px;
  width: 66px;
  height: 3px;
  margin-top: 24px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.title-tags:after {
  content: "";
  position: absolute;
  left: 105px;
  width: 66px;
  height: 3px;
  margin-top: 24px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
}

.tag-item {
  border: 3px solid #eeeeee;
  margin: 0 4px 4px 0;
}

.tag-item:hover {
  border: 3px solid #b59f5b;
}

.tag-link {
  text-decoration: none;
  padding: 2px 13px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  color: #0f0d0e;
  text-transform: uppercase;
}

.topic__header {
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 45px;
  text-align: center;

  position: relative;
}

.topic__header__line:after {
  content: "";
  position: absolute;
  left: 105px;
  width: 66px;
  height: 3px;
  margin-top: 24px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.topic-link {
  text-decoration: none;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: capitalize;
}

.topic-link:hover {
  color: #b59f5b;
}

.topic-item {
  list-style-type: none;
  height: 50px;
  display: flex;
  align-items: center;
}

.topic-item:nth-child(n + 1) {
  border-bottom: 1px solid #eeeeee;
}

.topic-item__number {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  color: #b59f5b;
  line-height: 40px;
}

/**наши изделия shop
===========================*/
.shop-header-container {
  display: flex;
  justify-content: center;
}

.shop-header {
}

.catalog__container {
  max-width: 1170px;
  margin: 0 auto;
}

.card {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.card__image {
  height: 200px;
  overflow: hidden;
  width: 100%;
  padding: 0 20px;
}

.card__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__body {
  flex: 1;
  display: flex;
  flex-direction: column;

  border: 3px solid #b59f5b;
  padding: 50px 20px 20px;
  margin-top: -30px;
}

.card__title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  color: black;
  line-height: 24px;
  text-transform: uppercase;

  margin-bottom: 14px;
}

.card__text {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 15px;
  color: black;
  line-height: 22px;
}

.card__link {
  text-decoration: none;

  color: #b59f5b;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
}

.card__link:hover {
  color: #b59f5b;
  border-bottom: 2px solid #b59f5b;
}

.card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.button-submit-inshop {
  width: 140px;
  height: 50px;

  background-color: #b59f5b;
  border: none;

  color: #ffffff;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.button-submit-inshop:hover {
  border-top: 2px solid #e6dfc8;
}

.rouble-svg-old {
  width: 15px;
  height: 15px;
  float: right;
}

.rouble-svg-new {
  width: 20px;
  height: 20px;
  float: right;
}

.cost__old {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: line-through;
  display: flex;
}

.cost__new {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  color: black;
  display: flex;
}

.catalog__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -32px;
}

.catalog__col {
  width: 33.33333333%;
  padding: 0 32px;
  margin-bottom: 30px;
}

/**пол с социалкой
===========================*/
.footer {
  background-color: #f4f7f6;
  max-width: 1170px;
  margin: 30px auto 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  margin: 30px -15px;
}
.social__icon_1 {
  margin: auto 15px;
}

.copyright-link {
  color: #999999;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.copyright {
  text-align: center;
  margin: 74px auto 41px;
}

/*форма*/
.popup_back {
  /*display:none ;*/
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
}

.popup {
  /*display: none;*/
  position: fixed;
  z-index: 25;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  height: 590px;
}

.esc_img {
  position: fixed;
  z-index: 23;
  width: 28px;
  height: 28px;
  top: -5%;
  right: -1%;
  color: #fff;
}

.popup__container {
  height: 590px;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.popup__header {
  display: flex;
  justify-content: center;
  margin: 50px auto 25px;
}
.popup__header__text {
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.popup__header__text::after {
  content: "";
  display: block;

  width: 66px;
  height: 3px;
  margin: 10px auto 0;
  background-color: #b59f5b;
  opacity: 0.4;
}

.form__container {
  max-width: 330px;

  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

.text__popup {
  color: black;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
}

.select-label {
  margin-bottom: 15px;
}

.select {
  height: 48px;
  width: 100%;

  padding-left: 20px;
  margin: 9px 0 33px;

  background-color: #f4f7f6;
  border: none;

  -webkit-appearance: none;
  -moz-appearence: none;

  background-image: url("https://netology-code.github.io/html-2-homeworks/form-elements/city-select/img/select-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
}
.select:focus {
  border-bottom: 2px solid #b59f5b;
  outline: none;
  outline-offset: 2px;
}

.select_text {
  color: black;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
}

.radio__container {
  margin: 12px auto 33px;
}
.radio {
  position: relative;
  padding-left: 20px;
}

.radio::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #b59f5b;
  border-radius: 50%;
}

.radio__control {
  display: none;
}

.radio__control:checked + .radio::before {
  background: #b59f5b;
  width: 16px;
  height: 16px;
}

.field {
  margin: 12px auto 26px;
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  height: 130px;
  background-color: #f4f7f6;
  border: none;
}
.textarea::hover {
  border: none;
  border-bottom: 2px solid #b59f5b;
}

.button__form {
  width: 100%;
  height: 50px;
  margin-bottom: 60px;
  background-color: #b59f5b;
  border: none;
  color: #ffffff;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.button__form__submit:hover {
  border-top: 2px solid #e6dfc8;
}

/**media tablet
===========================*/
@media (max-width: 1199.98px) {
  /*шапка сайта*/
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .logo {
    width: 158px;
    margin-top: 0;
  }
  .logo_mobile {
    display: none;
  }

  .container__menu {
    max-width: 698px;
    justify-content: space-between;
    margin: auto;
    padding-top: 50px;
  }

  .menu {
    display: none;
  }

  .menu_burger {
    display: block;
    position: relative;
    width: 23px;
    height: 19px;
  }

  .menu_burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 8px;
  }

  .menu_burger::after,
  .menu_burger::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }

  .menu_burger::before {
    top: 0;
  }

  .menu_burger::after {
    bottom: 0;
  }

  .header-title {
    max-width: 640px;
    font-size: 40px;
    line-height: 55px;

    position: relative;
    z-index: 1;

    padding-bottom: 125px;
    margin-top: 100px;
  }

  /*сейчас в тренде*/
  .section__header__text {
    font-size: 18px;
    line-height: 29px;
  }

  .now-in-trends__link {
    font-size: 14px;
  }

  .now-in-trends__title__text {
    font-size: 17px;
    line-height: 22px;
  }

  .now-in-trends__item {
    width: 49.8%;
    margin-bottom: 3px;
  }

  .page {
    max-width: 768px;
    margin-bottom: 50px;
  }

  .post {
    max-width: 340px;
    min-height: 545px;

    flex-flow: column;
  }

  .posts {
    margin-left: 35px;
    padding-right: 5px;
  }

  .side-bar {
    margin: 0 35px 0 auto;
    padding-left: 5px;
  }

  .post__bord {
    border-bottom: 2px solid #eeeeee;
  }

  .post-preview {
    width: 100%;
    overflow: hidden;
  }
  .posts-content {
    width: 100%;
  }
  .posts-content-text {
    margin-bottom: 20px;
  }

  .post:nth-child(n + 2) {
    margin-top: 40px;
  }

  .posts-content-link {
    font-size: 14px;
  }

  .posts-content-title {
    font-size: 17px;
    line-height: 22px;
    margin-top: 17px;
    margin-bottom: 40px;
  }

  .posts-content-inform {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .posts-content-text {
    font-size: 15px;
    line-height: 22px;
  }

  .posts-content-tags {
    margin-top: 10px;
  }

  .section__header {
    margin: 50px 0 40px;
  }

  .catalog {
    margin: 0 35px;
  }
  .catalog__container {
    max-width: 698px;
  }
  .catalog__col {
    width: 50%;
    padding: 0 10px;
  }

  .catalog__row {
    margin: 0 -10px;
  }

  .catalog__col {
    padding: 0 10px;
  }

  .footer {
    max-width: 698px;
  }

  .popup {
    /*display: none;*/
    max-width: 390px;
  }

  .form__container {
    max-width: 330px;
  }
}

/**===========================*/
@media (max-width: 640px) {
  /*шапка сайта*/
  .header {
    background-image: url(../images/banner-mobile.jpg);
  }

  .logo {
    display: none;
  }

  .logo_mobile {
    max-width: 278px;
    display: flex;
    position: relative;
    z-index: 7;
    margin: 180px auto 40px;
  }

  .container__menu {
    max-width: 330px;
    justify-content: space-between;
    margin: auto;
    padding-top: 30px;
  }

  .menu {
    display: none;
  }

  .menu_burger {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
  }

  .menu_burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 11px;
  }

  .menu_burger::after,
  .menu_burger::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }

  .menu_burger::before {
    top: 0;
  }

  .menu_burger::after {
    bottom: 0;
  }

  .header-title {
    max-width: 300px;
    font-size: 26px;
    line-height: 36px;

    position: relative;
    z-index: 1;

    padding-bottom: 215px;
    display: flex;
    margin: 0 auto;
  }

  /*сейчас в тренде*/
  .section__header__text {
    font-size: 16px;
  }
  .now-in-trends {
    margin-bottom: 45px;
  }

  .now-in-trends__link {
    font-size: 14px;
  }

  .now-in-trends__title__text {
    font-size: 16px;
    line-height: 20px;
  }

  .now-in-trends__item {
    width: 99.8%;
    margin-bottom: 3px;
  }

  /*основаня страница*/
  .page {
    max-width: 360px;
    margin-bottom: 45px;
  }
  .wrapper_container {
    flex-flow: column wrap;
  }
  .post {
    min-height: 461px;
    flex-flow: column;
  }

  .posts {
    margin: 0 auto 45px;
    padding: 0;
  }
  .post__bord,
  .post__bord__mob {
    border-bottom: 2px solid #eeeeee;
  }
  .post-preview {
    width: 100%;
    overflow: hidden;
  }
  .posts-content {
    width: 100%;
  }
  .posts-content-text {
    margin-bottom: 20px;
  }

  .post:nth-child(n + 2) {
    margin-top: 40px;
  }

  .posts-content-link {
    font-size: 14px;
  }

  .posts-content-title {
    font-size: 17px;
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .posts-content-inform {
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .posts-content-text {
    font-size: 15px;
    line-height: 22px;
  }

  .posts-content-tags {
    margin-top: 10px;
  }

  /*правая часть основной страницы*/
  .side-bar {
    max-width: 360px;
    margin: 0 15px;
    padding: 0;
    justify-content: center;
  }

  .news-header,
  .e-mail__header,
  .tags__header,
  .topic__header {
    font-size: 16px;
    width: 330px;
    margin-bottom: 25px;
  }

  .news-line::after,
  .e-mail__header__line::after,
  .tags__header__line::after,
  .topic__header__line::after {
    left: 132px;
  }
  .news-content {
    width: 100%;
  }

  .news-container,
  .button-submit,
  .email-field {
    width: 330px;
  }

  .search-field {
    width: 280px;
  }
  .side-bar_e-mail {
    margin-top: 45px;
  }
  .button-submit,
  .side-bar_tags {
    margin-bottom: 45px;
  }

  /*наши изделия shop*/
  .section__header {
    margin: 45px 0 25px;
  }

  .catalog {
    margin: 0 15px;
  }
  .catalog__container {
    max-width: 330px;
  }
  .catalog__col {
    width: 100%;
    padding: 0 15px;
  }

  .catalog__row {
    margin: 0 -15px;
  }

  .catalog__col {
    padding: 0 15px;
  }

  /*пол*/
  .footer {
    max-width: 330px;
  }
  .copyright {
    margin: 50px auto 50px;
  }

  .popup {
    /*display: none;*/
    max-width: 330px;
  }

  .form__container {
    max-width: 280px;
  }
}
